.center-pills {
    display: inline-block;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

/* Theme CSS below */
.tmBackground {
    background-color: #5e5e5e;
}
.tmSocialMediaBar {
    background-color: #47b084;
}
.tmHover:hover {
    background-color: red;
}
/* End of Theme CSS */

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/haydentybanner.jpeg");
  background-size: cover;
  background-position: 1%;
  height: 300px;
}

.title {
  background: rgba(0,0,0,.4);
  border-radius: 5px;
  padding: 20px 65px;
  color: #eff1f4;
  font-family: 'Yatra One', cursive;
  text-transform: uppercase;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 18px;
}

/* wiggle code */
@-ms-keyframes wiggle {
    0% {
        -ms-transform: rotate(6deg);
    }
    50% {
        -ms-transform: rotate(-6deg);
    }
    100% {
        -ms-transform: rotate(6deg);
    }
}
@-moz-keyframes wiggle {
    0% {
        -moz-transform: rotate(6deg);
    }
    50% {
        -moz-transform: rotate(-6deg);
    }
    100% {
        -moz-transform: rotate(6deg);
    }
}
@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(6deg);
    }
    50% {
        -webkit-transform: rotate(-6deg);
    }
    100% {
        -webkit-transform: rotate(6deg);
    }
}
@keyframes wiggle {
    0% {
        transform: rotate(6deg);
        background: #eff1f4;
    }
    50% {
        transform: rotate(-6deg);
        background: #eff1f4;
    }
    100% {
        transform: rotate(6deg);
        background: #eff1f4;
    }
}

a.wiggle-me {
    -ms-animation: wiggle .3s 10;
    -moz-animation: wiggle .3s 10;
    -webkit-animation: wiggle .3s 10;
    animation: wiggle .3s 10;
}
